.register {
    margin-top: 15vh;
}

.register-page .registerForm {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-page {
    color: #000;
    margin: 25px auto 0;
    background-color: #fefefe;
    border-radius: 10px;
    border: 1px solid #777;
    width: 450px;
    padding: 20px 20px;
}

.register-page h4 {
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 0.05em;
    margin: 10px 40px;
    padding-bottom: 10px;
    color: #555;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.register-page .form-group {
    font-size: 0.95em;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.register-page .form-group label {
    font-size: 1.1em;
    width: 40%;
    text-align: right;
    padding-top: 5px;
    padding-right: 10px;
}

.registerForm .input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 62px;
    width: 60%;
}

.register-page .form-group input {
    padding: 5px;
    font-size: 0.9em;
    width: 70%;
}

.register-page .form-group input:focus {
    outline: none;
}

.registerForm .error {
    color: #F00;
    font-size: 0.9em;
}

button#register-btn {
    cursor: pointer;
    color: #18412a;
    transition: 0.1s linear;
    background-color: #def8e9;
    border:1px solid #18412a;
    border-radius: 6px;
    margin: 10px auto;
    font-size: 1.2em;
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: 0.05s linear;
}

button#register-btn:hover {
    background-color: #b3eccc;
    color: #0c2718;
    border:1px solid #0c2718;
    transform: translateY(-1px);
    transform: scale(1.02)
}

button#register-btn:active {
    transform: scale(1);
}

.loading {
    display: inline-block;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    border: 4px solid rgba(72, 95, 81, 0.75);
    border-radius: 50%;
    border-top-color: rgba(255, 255, 255,.75);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    box-sizing: unset;
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}