/* General Styles */

html {
  font-family: 'Barlow', sans-serif;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #29303d;
  z-index: -1;
}

button, a {
  outline: none;
}

