.card {
    padding: 10px 60px 40px;
    border: 1px solid #555;
    border-radius: 15px;
    color: rgb(15, 21, 27);
    background-color: #faf3f0;
    margin: 50px auto;
    width: 500px;
    text-align: center;
    box-shadow: 10px 10px 40px rgba(0,0,0,0.08), 2px 2px 8px rgba(0,0,0,0.2);
}

.card h3 {
    font-weight: 400;
    font-size: 2em;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.show-answer {
    cursor: pointer;
    opacity: 0.8;
    font-size: 1.1em;
    background-color: #faf3f0;
    border: 1px solid #4d5769;
    border-radius: 4px;
    padding: 8px 15px;
    transition: 0.08s linear;
}

.show-answer:hover {
    opacity: 1;
    background-color: #fff;
    transition: 0.08s linear;
}

.show-answer:active {
    transform: translateY(1px);
}

.card-details p {
    font-size: 1.1em;
    font-weight: 300;
    text-align: left;
}

.card-actions {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.reference {
    text-decoration: none;
    color: #18412a;
    font-weight: 700;
    opacity: 0.7;
    transition: 0.1s linear;
}

.reference:hover {
    opacity: 1;
}

.next {
    cursor: pointer;
    font-size: 1em;
    color: #18412a;
    font-weight: 700;
    opacity: 0.7;
    transition: 0.1s linear;
    background-color: inherit;
    border:none;
}

.next:hover {
    opacity: 1;
}